In [ ]:
#StructuredlogStreaming.scala with access* files from log directory
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/Users/aruna/Library/Caches/Coursier/v1/https/repo1.maven.org/maven2/org/apache/spark/spark-unsafe_2.12/3.0.0/spark-unsafe_2.12-3.0.0.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
-------------------------------------------
Batch: 0
-------------------------------------------
+------+-----+
|status|count|
+------+-----+
|   200|  387|
|   404|    9|
|   302|    9|
|   301|    3|
+------+-----+

-------------------------------------------
Batch: 1
-------------------------------------------
+------+-------+
|status|  count|
+------+-------+
|   200|9580212|
|   304| 340228|
|   302| 199844|
|   404| 105020|
|   301|  67555|
|   499|  50852|
|   500|  14266|
|   403|   5634|
|   502|    798|
|   400|    376|
|   401|    323|
|   777|    211|
|   408|    112|
|   504|    103|
|   414|     17|
|   405|      6|
|   206|      3|
+------+-------+

In [ ]:
#StructuredStreamingAru.scala with access* files from log directory

-------------------------------------------
Batch: 0
-------------------------------------------
+--------------------+--------------------+------+
|              window|            endpoint| count|
+--------------------+--------------------+------+
|[2023-02-24 21:03...|      /settings/logo|352063|
|[2023-02-24 21:03...|/static/css/font/...|280178|
|[2023-02-24 21:03...|/static/images/gu...|138012|
|[2023-02-24 21:03...|/static/images/gu...|125691|
|[2023-02-24 21:03...|/static/images/gu...|124129|
|[2023-02-24 21:03...|/static/images/gu...|116655|
|[2023-02-24 21:03...|/site/alexaGooleA...|103798|
|[2023-02-24 21:03...|        /favicon.ico|102733|
|[2023-02-24 21:03...|/static/images/gu...| 98462|
|[2023-02-24 21:03...|/static/images/am...| 92413|
|[2023-02-24 21:03...|/static/images/am...| 92160|
|[2023-02-24 21:03...|/static/images/am...| 89012|
|[2023-02-24 21:03...|/static/images/am...| 60787|
|[2023-02-24 21:03...|                   /| 47582|
|[2023-02-24 21:03...|/amp-helper-frame...| 47092|
|[2023-02-24 21:03...|/amp-helper-frame...| 44866|
|[2023-02-24 21:03...|/image/%7B%7Bbask...| 36878|
|[2023-02-24 21:03...|/static/bundle-bu...| 35560|
|[2023-02-24 21:03...|/static/images/fa...| 34073|
|[2023-02-24 21:03...|/static/images/th...| 33989|
+--------------------+--------------------+------+
only showing top 20 rows

In [ ]:
#BookWordCountDataset.scala /** Count up how many of each word occurs in a book, using regular expressions. */
# 3 books romeo juliet , the alchemist and The war chief top 20 words displayed below
Top 20 words in The war Chief
+------+-----+
|  word|count|
+------+-----+
|   the| 6359|
|      | 4303|
|    of| 2834|
|   and| 2611|
|    he| 1914|
|    to| 1757|
|     a| 1737|
|   his| 1239|
|  that| 1097|
|   was| 1062|
|    in| 1006|
|   had|  822|
|  shoz|  735|
|dijiji|  731|
|  they|  656|
|   for|  646|
|    it|  614|
|  with|  600|
|    as|  557|
|   not|  551|
+------+-----+
only showing top 20 rows

Top 20 words in The Romeo Juliet
+-----+-----+
| word|count|
+-----+-----+
|     | 5086|
|  the|  877|
|  and|  806|
|    i|  659|
|   to|  626|
|    a|  547|
|   of|  518|
|   in|  394|
|   is|  372|
| that|  369|
|  you|  368|
|   my|  356|
|    s|  324|
|romeo|  320|
| with|  300|
|  not|  288|
| thou|  278|
|   me|  266|
| this|  266|
|  for|  251|
+-----+-----+
only showing top 20 rows

Top 20 words in The Alchemist
+----+-----+
|word|count|
+----+-----+
|    |14287|
| the| 2088|
|  of| 1497|
| and| 1466|
|   a| 1120|
|  to| 1008|
|  in|  876|
| you|  860|
|   i|  712|
|face|  588|
|  is|  459|
|   s|  447|
|that|  437|
|  he|  413|
|with|  403|
| for|  401|
| sub|  401|
| sir|  397|
| his|  396|
|  or|  388|
+----+-----+
only showing top 20 rows

In [ ]:
# IndiaSpendAnalysisDataset.scala read CreditcardTransactions-India.csv file to compute various spent patterns 
Max amount spent by each genders
+------+--------------+
|Gender|maxAmountSpent|
+------+--------------+
|     F|        998077|
|     M|        299981|
+------+--------------+


Total amount spent by each genders
+------+------------------------+
|Gender|TotalAmountSpentByGender|
+------+------------------------+
|     F|              2205311030|
|     M|              1869522343|
+------+------------------------+


Total amount spent by City
+--------------+
|          City|
+--------------+
|         Delhi|
|Greater Mumbai|
|     Bengaluru|
|Greater Mumbai|
|     Bengaluru|
+--------------+
only showing top 5 rows

+----------------+----------------+
|            City|TotalSpentByCity|
+----------------+----------------+
|  Greater Mumbai|       576751476|
|       Bengaluru|       572326739|
|       Ahmedabad|       567794310|
|           Delhi|       556929212|
|         Kolkata|       115466943|
|         Lucknow|       115334476|
|         Chennai|       114730600|
|       Hyderabad|       114493477|
|           Surat|       114486151|
|          Kanpur|       114370532|
|          Jaipur|       111136855|
|            Pune|       109313930|
|        Bathinda|         2767609|
|         Udaipur|         2498194|
|        Ramnagar|         2448619|
|      Vijayapura|         2445557|
|Kalyan-Dombivali|         2436920|
|           Nokha|         2410357|
|  Fatehpur Sikri|         2204376|
|        Sunabeda|         2196178|
+----------------+----------------+
only showing top 20 rows


Max amount spent by ExpType and gender
+-------------+------+--------------+
|      ExpType|Gender|maxAmountSpent|
+-------------+------+--------------+
|        Bills|     F|        998077|
|        Bills|     M|        299981|
|Entertainment|     F|        299936|
|Entertainment|     M|        299906|
|         Food|     F|        299699|
|         Food|     M|        299837|
|         Fuel|     F|        299664|
|         Fuel|     M|        299905|
|      Grocery|     F|        299920|
|      Grocery|     M|        299550|
|       Travel|     F|        299618|
|       Travel|     M|        297660|
+-------------+------+--------------+


# of transaction by CardType and gender
+---------+------+-----+
| CardType|Gender|count|
+---------+------+-----+
|     Gold|     F| 3287|
|     Gold|     M| 3080|
| Platinum|     F| 3252|
| Platinum|     M| 3146|
|Signature|     F| 3368|
|Signature|     M| 3079|
|   Silver|     F| 3773|
|   Silver|     M| 3067|
+---------+------+-----+

+--------------+---------+------+
|          City| CardType|Gender|
+--------------+---------+------+
|         Delhi|     Gold|     F|
|Greater Mumbai| Platinum|     F|
|     Bengaluru|   Silver|     F|
|Greater Mumbai|Signature|     F|
|     Bengaluru|     Gold|     F|
+--------------+---------+------+
only showing top 5 rows


# of transaction by City,CardType and gender
+--------------+---------+------+-----+
|          City| CardType|Gender|count|
+--------------+---------+------+-----+
|     Bengaluru|   Silver|     F|  605|
|Greater Mumbai|   Silver|     F|  584|
|         Delhi|   Silver|     F|  570|
|     Ahmedabad|   Silver|     F|  554|
|         Delhi|Signature|     F|  471|
|     Ahmedabad| Platinum|     F|  467|
|     Bengaluru|Signature|     F|  467|
|         Delhi|     Gold|     F|  464|
|     Bengaluru|     Gold|     F|  457|
|Greater Mumbai|Signature|     F|  456|
|Greater Mumbai| Platinum|     F|  451|
|     Ahmedabad|Signature|     F|  441|
|     Ahmedabad| Platinum|     M|  433|
|Greater Mumbai|     Gold|     F|  431|
|     Bengaluru| Platinum|     F|  431|
|     Bengaluru| Platinum|     M|  422|
|         Delhi| Platinum|     F|  418|
|Greater Mumbai|     Gold|     M|  417|
|Greater Mumbai| Platinum|     M|  417|
|     Ahmedabad|     Gold|     F|  414|
+--------------+---------+------+-----+
only showing top 20 rows


# of transaction by Date dd-MMMM-yy
+------+-----------+
|byYear|sum(Amount)|
+------+-----------+
|  2015| 1006475456|
|  2013|  613643884|
|  2014| 2454714033|
+------+-----------+

+-----------+
|max(Amount)|
+-----------+
|     998077|
+-----------+


 filter and where clause 
+--------------------+---------+------+--------+-------+------+
|                City|     Date|Gender|CardType|ExpType|Amount|
+--------------------+---------+------+--------+-------+------+
|Greater Mumbai, I...|14-Oct-14|     F|Platinum|  Bills|998077|
+--------------------+---------+------+--------+-------+------+

+--------------------+---------+------+--------+-------+------+
|                City|     Date|Gender|CardType|ExpType|Amount|
+--------------------+---------+------+--------+-------+------+
|Greater Mumbai, I...|14-Oct-14|     F|Platinum|  Bills|998077|
+--------------------+---------+------+--------+-------+------+


 parameterize max value 
+-------+
|ExpType|
+-------+
|  Bills|
+-------+


Process finished with exit code 0

In [ ]:
# MaxMovieRevenue.scala /** Find the max movie revenue */
Pirates of the Caribbean: Dead Man's Chest made 423.0 million in 2006 with rating 7.3
Spider-Man 3 made 336.5 million in 2007 with rating 6.2
The Dark Knight made 533.3 million in 2008 with rating 9.0
Avatar made 760.5 million in 2009 with rating 7.8
Toy Story 3 made 415.0 million in 2010 with rating 8.3
Harry Potter and the Deathly Hallows: Part 2 made 381.0 million in 2011 with rating 8.1
The Avengers made 623.3 million in 2012 with rating 8.1
The Hunger Games: Catching Fire made 424.7 million in 2013 with rating 7.6
American Sniper made 350.1 million in 2014 with rating 7.3
Star Wars: Episode VII - The Force Awakens made 936.6 million in 2015 with rating 8.1
Rogue One made 532.2 million in 2016 with rating 7.9

Process finished with exit code 0

In [ ]:
#MaxMovieRevenueDataset /** Find the maximum movie revenue  */
+----+----+----------------+--------------+------+-----------------------+------------------------+------------+-----------------------------------------------------------------------+------+---------+
|Rank|Year|Revenue_millions|RuntimeMinutes|Rating|Title                  |Genre                   |Director    |Actors                                                                 |Votes |Metascore|
+----+----+----------------+--------------+------+-----------------------+------------------------+------------+-----------------------------------------------------------------------+------+---------+
|1   |2014|333.13          |121           |8.1   |Guardians of the Galaxy|Action,Adventure,Sci-Fi |James Gunn  |Chris Pratt, Vin Diesel, Bradley Cooper, Zoe Saldana                   |757074|76       |
|2   |2012|126.46          |124           |7.0   |Prometheus             |Adventure,Mystery,Sci-Fi|Ridley Scott|Noomi Rapace, Logan Marshall-Green, Michael Fassbender, Charlize Theron|485820|65       |
+----+----+----------------+--------------+------+-----------------------+------------------------+------------+-----------------------------------------------------------------------+------+---------+
only showing top 2 rows

Pirates of the Caribbean: Dead Man's Chest made 423.0 million in 2006 with rating 7.3
Spider-Man 3 made 336.5 million in 2007 with rating 6.2
The Dark Knight made 533.3 million in 2008 with rating 9.0
Avatar made 760.5 million in 2009 with rating 7.8
Toy Story 3 made 415.0 million in 2010 with rating 8.3
Harry Potter and the Deathly Hallows: Part 2 made 381.0 million in 2011 with rating 8.1
The Avengers made 623.3 million in 2012 with rating 8.1
The Hunger Games: Catching Fire made 424.7 million in 2013 with rating 7.6
American Sniper made 350.1 million in 2014 with rating 7.3
Star Wars: Episode VII - The Force Awakens made 936.6 million in 2015 with rating 8.1
Rogue One made 532.2 million in 2016 with rating 7.9

Process finished with exit code 0

In [ ]:
#MaxRainfall /** Find the maximum rainfall by state for a year */
ANDAMAN And NICOBAR ISLANDS max annual rainfall: 3015.7 
ANDHRA PRADESH max annual rainfall: 1165.2 
ARUNACHAL PRADESH max annual rainfall: 4402.1 
ASSAM max annual rainfall: 3772.2 
BIHAR max annual rainfall: 2090.6 
CHANDIGARH max annual rainfall: 1070.6 
CHATISGARH max annual rainfall: 1544.4 
DADAR NAGAR HAVELI max annual rainfall: 2374.1 
DAMAN AND DUI max annual rainfall: 2374.1 
DELHI max annual rainfall: 747.1 
GOA max annual rainfall: 3471.4 
GUJARAT max annual rainfall: 2063.0 
HARYANA max annual rainfall: 1148.2 
HIMACHAL max annual rainfall: 2019.8 
JAMMU AND KASHMIR max annual rainfall: 1973.9 
JHARKHAND max annual rainfall: 1612.4 
KARNATAKA max annual rainfall: 4306.0 
KERALA max annual rainfall: 3621.6 
LAKSHADWEEP max annual rainfall: 1600.0 
MADHYA PRADESH max annual rainfall: 1481.6 
MAHARASHTRA max annual rainfall: 3470.6 
MANIPUR max annual rainfall: 7229.3 
MEGHALAYA max annual rainfall: 6379.9 
MIZORAM max annual rainfall: 2814.4 
NAGALAND max annual rainfall: 2497.7 
ORISSA max annual rainfall: 1679.0 
PONDICHERRY max annual rainfall: 1504.4 
PUNJAB max annual rainfall: 1112.5 
RAJASTHAN max annual rainfall: 920.2 
SIKKIM max annual rainfall: 3094.5 
TAMIL NADU max annual rainfall: 1522.7 
TRIPURA max annual rainfall: 2641.8 
UTTAR PRADESH max annual rainfall: 1389.1 
UTTARANCHAL max annual rainfall: 2150.9 
WEST BENGAL max annual rainfall: 3468.3 

Process finished with exit code 0

In [ ]:
#MaxRainfallDataset 
+---------------------------+-------------+-----+----+----+-----+-----+-----+-----+-----+-----+-----+-----+-----+------+-------+-------+-------+-------+
|STATE_UT_NAME              |DISTRICT     |JAN  |FEB |MAR |APR  |MAY  |JUN  |JUL  |AUG  |SEP  |OCT  |NOV  |DEC  |ANNUAL|Jan-Feb|Mar-May|Jun-Sep|Oct-Dec|
+---------------------------+-------------+-----+----+----+-----+-----+-----+-----+-----+-----+-----+-----+-----+------+-------+-------+-------+-------+
|ANDAMAN And NICOBAR ISLANDS|NICOBAR      |107.3|57.9|65.2|117.0|358.5|295.5|285.0|271.9|354.8|326.0|315.2|250.9|2805.2|165.2  |540.7  |1207.2 |892.1  |
|ANDAMAN And NICOBAR ISLANDS|SOUTH ANDAMAN|43.7 |26.0|18.6|90.5 |374.4|457.2|421.3|423.1|455.6|301.2|275.8|128.3|3015.7|69.7   |483.5  |1757.2 |705.3  |
+---------------------------+-------------+-----+----+----+-----+-----+-----+-----+-----+-----+-----+-----+-----+------+-------+-------+-------+-------+
only showing top 2 rows

MANIPUR has 7229.3 precipitation in district TAMENGLONG
MEGHALAYA has 6379.9 precipitation in district JAINTIA HILLS
ARUNACHAL PRADESH has 4402.1 precipitation in district UPPER SIANG
KARNATAKA has 4306.0 precipitation in district UDUPI
ASSAM has 3772.2 precipitation in district KOKRAJHAR
KERALA has 3621.6 precipitation in district KASARGOD
GOA has 3471.4 precipitation in district NORTH GOA
MAHARASHTRA has 3470.6 precipitation in district RATNAGIRI
WEST BENGAL has 3468.3 precipitation in district JALPAIGURI
SIKKIM has 3094.5 precipitation in district NORTH SIKKIM
SIKKIM has 3094.5 precipitation in district WEST SIKKIM
ANDAMAN And NICOBAR ISLANDS has 3015.7 precipitation in district SOUTH ANDAMAN
MIZORAM has 2814.4 precipitation in district AIZAWL
MIZORAM has 2814.4 precipitation in district CHHIMTUIPUI
MIZORAM has 2814.4 precipitation in district MAMIT
TRIPURA has 2641.8 precipitation in district NORTH TRIPURA
NAGALAND has 2497.7 precipitation in district WOKHA
DADAR NAGAR HAVELI has 2374.1 precipitation in district DNH
DAMAN AND DUI has 2374.1 precipitation in district DAMAN
UTTARANCHAL has 2150.9 precipitation in district RUDRAPRAYAG
BIHAR has 2090.6 precipitation in district KISHANGANJ
GUJARAT has 2063.0 precipitation in district DANGS
HIMACHAL has 2019.8 precipitation in district KANGRA
JAMMU AND KASHMIR has 1973.9 precipitation in district UDHAMPUR
ORISSA has 1679.0 precipitation in district BALASORE
JHARKHAND has 1612.4 precipitation in district PAKUR
LAKSHADWEEP has 1600.0 precipitation in district LAKSHADWEEP
CHATISGARH has 1544.4 precipitation in district JASHPUR
TAMIL NADU has 1522.7 precipitation in district NILGIRIS
PONDICHERRY has 1504.4 precipitation in district KARAIKAL
MADHYA PRADESH has 1481.6 precipitation in district BALAGHAT
UTTAR PRADESH has 1389.1 precipitation in district MAHARAJGANJ
ANDHRA PRADESH has 1165.2 precipitation in district SRIKAKULAM
HARYANA has 1148.2 precipitation in district PANCHKULA
PUNJAB has 1112.5 precipitation in district GURDASPUR
CHANDIGARH has 1070.6 precipitation in district CHANDIGARH
RAJASTHAN has 920.2 precipitation in district JHALAWAR
DELHI has 747.1 precipitation in district NEW DELHI
DELHI has 747.1 precipitation in district CENTRAL DELHI
DELHI has 747.1 precipitation in district EAST DELHI
DELHI has 747.1 precipitation in district NORTH DELHI
DELHI has 747.1 precipitation in district NE DELHI
DELHI has 747.1 precipitation in district SW DELHI
DELHI has 747.1 precipitation in district NW DELHI
DELHI has 747.1 precipitation in district SOUTH DELHI
DELHI has 747.1 precipitation in district WEST DELHI

Process finished with exit code 0

In [ ]:
#MinMovieRevenue /** Find the minimum movie revenue */
# results are incorrect because of missing data in the input file
"I made 0.0 million in 2006 with rating 7.9
5/25/77 made 0.0 million in 2006 with rating 7.1
A Dark Song made 0.0 million in 2006 with rating 6.1
A Kind of Murder made 0.0 million in 2006 with rating 5.2
Absolutely Anything made 0.0 million in 2006 with rating 6.0
All We Had made 0.0 million in 2006 with rating 5.8
Amateur Night made 0.0 million in 2006 with rating 5.0

In [ ]:
#MinMovieRevenueDataset /** Find the minimum movie revenue  */
+----+----+----------------+--------------+------+-----------------------+------------------------+------------+-----------------------------------------------------------------------+------+---------+
|Rank|Year|Revenue_millions|RuntimeMinutes|Rating|Title                  |Genre                   |Director    |Actors                                                                 |Votes |Metascore|
+----+----+----------------+--------------+------+-----------------------+------------------------+------------+-----------------------------------------------------------------------+------+---------+
|1   |2014|333.13          |121           |8.1   |Guardians of the Galaxy|Action,Adventure,Sci-Fi |James Gunn  |Chris Pratt, Vin Diesel, Bradley Cooper, Zoe Saldana                   |757074|76       |
|2   |2012|126.46          |124           |7.0   |Prometheus             |Adventure,Mystery,Sci-Fi|Ridley Scott|Noomi Rapace, Logan Marshall-Green, Michael Fassbender, Charlize Theron|485820|65       |
+----+----+----------------+--------------+------+-----------------------+------------------------+------------+-----------------------------------------------------------------------+------+---------+
only showing top 2 rows

Idiocracy made 0.4 million in 2006 with rating 6.6
The Babysitters made 0.0 million in 2007 with rating 5.7
The Midnight Meat Train made 0.1 million in 2008 with rating 6.1
The Road made 0.1 million in 2009 with rating 7.3
Stake Land made 0.0 million in 2010 with rating 6.5
Sleeping Beauty made 0.0 million in 2011 with rating 5.3
The First Time made 0.0 million in 2012 with rating 6.9
Filth made 0.0 million in 2013 with rating 7.1
Love, Rosie made 0.0 million in 2014 with rating 7.2
Into the Forest made 0.0 million in 2015 with rating 5.9
A Kind of Murder made 0.0 million in 2016 with rating 5.2

Process finished with exit code 0

In [ ]:
#ScalaDataStructure.sc output

fruits: (String, String, String) = (Mango,Banana,grapes)
(Mango,Banana,grapes)


Mango
Banana
grapes


sweetFruit: (String, String) = (Fruit,Mango)
Mango
Fruit

aBunchOfStuff: (String, Int, Boolean) = (onion,1234,true)
(onion,1234,true)


vegList: List[String] = List(Onion, Potato, Pumpkin, Asparagus)

List(Onion, Potato, Pumpkin, Asparagus)

Asparagus
Onion

Onion
List(Potato, Pumpkin, Asparagus)

Onion
Potato
Pumpkin
Asparagus


backwardShip: List[String] = List(noinO, otatoP, nikpmuP, sugarapsA)
List(noinO, otatoP, nikpmuP, sugarapsA)

noinO
otatoP
nikpmuP
sugarapsA


numberList: List[Int] = List(1, 2, 3, 4, 5)
sum: Int = 15
15


withoutfives: List[Int] = List(1, 2, 3, 4)

withoutthree: List[Int] = List(1, 2, 4, 5)


moreNumbers: List[Int] = List(6, 7, 8)
lotsOfNumbers: List[Int] = List(1, 2, 3, 4, 5, 6, 7, 8)
List(1, 2, 3, 4, 5, 6, 7, 8)

reversed: List[Int] = List(5, 4, 3, 2, 1)
sorted: List[Int] = List(1, 2, 3, 4, 5)
lotsOfDuplicate: List[Int] = List(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)
distinctNumberlist: List[Int] = List(1, 2, 3, 4, 5)
maxValue: Int = 5
minValue: Int = 1
total: Int = 15
hasThree: Boolean = false


vegMaps: scala.collection.immutable.Map[String,String] = Map(VegLikes -> Asparagus, VegDislike -> Onion, VegOnFence -> Potato)
Asparagus
false
brinjalVeg: String = UNKNOWN
UNKNOWN


twentynumberList: scala.collection.mutable.ListBuffer[Int] = ListBuffer()


ListBuffer(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

3
6
9
12
15
18
divBy3: scala.collection.mutable.ListBuffer[Int] = ListBuffer(3, 6, 9, 12, 15, 18)
ListBuffer(3, 6, 9, 12, 15, 18)

divBy3_2: scala.collection.mutable.ListBuffer[Int] = ListBuffer(3, 6, 9, 12, 15, 18)
ListBuffer(3, 6, 9, 12, 15, 18)

3
6
9
12
15
18

In [ ]:
#ScalaDataType.sc
val_hello: String = Hello

var_hello: String = Hello
var_hello: String = Hello World!
Hello
Hello World!

immutable_var_hello: String = Hello World!
Hello World!

numberOne: Int = 100
truth: Boolean = true
letterA: Char = c
pi: Double = 3.14159265
piSinglePrecision: Float = 3.1415927
bigNumber: Long = 123456789
smallNumber: Byte = 127

Combining vals:100truec3.14159265123456789
pi is about 3.142

s prefix to use variables like 100 true c
the s prefix is not limited to variables . expression included like : 4

nbrOfStates: String = Number of states in usa, 50.
pattern: scala.util.matching.Regex = .* ([\d]+).*
answerString: String = 50
answer: Int = 50
50

isGreater: Boolean = false
isLesser: Boolean = true
impossible: Boolean = false
anotherWay: Boolean = false
anotherWay2: Boolean = true

country: String = India
bestCountry: String = India
isBest: Boolean = true

doublepi: Double = 6.2831853
 the double pi is: 6.28319

In [ ]:
#ScalaFunction.sc
squareIt: (x: Int)Int

4
cubeIt: (x: Int)Int

27
transformationInt: (x: Int, f: Int => Int)Int

res2: Int = 8
result: Int = 27
27

res4: Int = 8
res5: Int = 5

res6: Int = 36

upperString: (x: String)String

a: String = aruna
DAS

transformString: (x: String, f: String => String)String

res8: String = ARUNA

res9: String = aruna das

In [ ]:
#ScalaLoop.sc
scala broke maths
possible
11 smaller than 40

number: Int = 2
Two

1
4
9
16

x: Int = 15
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

x: Int = 0
0
1
2
3
4
5
6
7
8
9

res6: Int = 30
30

a: Int = 0
b: Int = 1
series: Int = 0
0
1
1
2
3
5
8
13
21
34
55
89